@import url('https://fonts.googleapis.com/css2?family=Kablammo&display=swap');
html, body{
    height: 100%;
    width: 100%;
    font-family: 'Kablammo', cursive;

}
.button{
    padding: 20px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
    width: 56px;
}
.button:hover{
    background-color: aquamarine;
}
.row{
    margin: 6px 0;
}
.row input{
    margin: 0;
    padding: 10px 0;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 20px;
    text-align: center
}
hr{
    margin-top: 95px;
}
.footer{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 16px;
}
.footer p{
    font-weight: bolder;
}
.logos{
    width: 100px;
    margin: 0 8px;
}
/* .table{
    text-align: center;
} */
.button img{
    width: 12px;
}

